ul {
    list-style-type: none;
    border: 1px solid black;
    padding: 0;
    margin-top: 10px;
    margin-left: 600px;
    margin-right: 600px;
}

li {
   border-top: 1px solid black;
    padding: 20px;
    text-align: center;
}
.tlo { background-color: black; color: white }